.page-wrapper {
  width: 90%;
  max-width: 980px;
  margin: 25px auto 60px;
  padding: 10px 20px;
}

.camera-container {
  width: 640px;
  height: 480px;
  background-color: #34495e;
  margin: 15px 0px;
}

.main-button {
  background-color: #3498db;
  color: #ecf0f1;

  &.red {
    background-color: #c0392b;
  }
}
