.page-wrapper {
  width: 90%;
  max-width: 960px;
  margin: 25px auto 60px;
  padding: 10px 20px;
}

.camera-container {
  width: 640px;
  height: 480px;
  background-color: #34495e;
  margin: 15px 0px;
}

.main-button {
  background-color: #3498db;
  color: #ecf0f1;

  &.red {
    background-color: #c0392b;
  }
}

/* Totally revisit this, from http://osvaldas.info/responsive-jquery-masonry-or-pinterest-style-layout */

#gif-list {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1.875em; /* 30px */
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em; /* 30px */
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em; /* 30px */
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 1.875em; /* 30px */
  column-fill: auto;

  margin-top: 25px;
}
.gif-item {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em; //1.875em; /* 15px 30px */
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  border-bottom: 1px solid #CCC;

  img {
    width: 100%;
  }
}

@media only screen and ( max-width: 40em ) {
  #gif-list {
    -webkit-column-count: 2;
    -webkit-column-gap: 0.938em; /* 15px */
    -moz-column-count: 2;
    -moz-column-gap: 0.938em; /* 15px */
    column-count: 2;
    column-gap: 0.938em; /* 15px */
  }
  .gif-item {
    margin-bottom: 0.938em; /* 15px */
  }
}

@media only screen and ( max-width: 20em ) {
  #gif-list {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
}